;
; User identification
;
[user]
name = Michel Albert
email = michel@albert.lu
signingkey = B594F110

;
; Automatically colorize console output
;
[color]
diff = auto
status = auto
branch = auto
grep = auto

;
; Aliases
;
[alias]
; simple shortcuts
st = status -sb
co = checkout
ci = commit
br = branch -v

; Show abbreviated log with a branch graph
lg = log --all -n20 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
lga = log --all --graph --pretty=format:'%Cgreen%G?%Creset|%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
lgl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
lgas = log --all --decorate-refs-exclude="*v????.??.??*" --simplify-by-decoration --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
lgls = log --simplify-by-decoration --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

; Show abbreviated log with timestamps
sl = log --pretty=format:'%an - %Cgreen%ai%Cblue %h%Creset %C(yellow)%d%Creset %s'

; no fast-forward merge
nfm = merge -e --no-ff

[core]
; my global ignores file
excludesfile = ~/.gitignore

; Let's use vim as the default editor
editor=vim


[diff]
tool = vimdiff


[tag]
sort = v:refname


[difftool]
; don't always ask for confirmation to open the diff tool
prompt = false


[merge]
tool = vimdiff
conflictstyle = diff3
prompt = false


[push]
recurseSubmodules = check
default = simple

[init]
templatedir = ~/dotfiles/git-template
    defaultBranch = master


[tig "color"]
    cursor = yellow 22 bold

[commit]
    gpgsign = true

[gpg]
    program = gpg


[rebase]
    autostash = true

[pull]
    ff = only

[status]
    submodulesummary = 1
