set editing-mode vi
set keymap vi
set convert-meta on
set bell-style none
$if mode=vi
    set keymap vi-command
    # these are for vi-command mode
    Control-l: clear-screen
    set keymap vi-insert
    Control-j: next-history
    Control-k: previous-history
    Control-l: clear-screen
    Control-d: possible-completions
    Control-RUBOUT: backward-kill-word
    Control-Meta-x: re-read-init-file
$endif
