<header id="header" class="alt">
  <h1><a href="{{ "" | relURL }}">{{ site.Title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="{{ "" | relURL }}">Home</a></li>
            <li><a href="{{ site.Params.cheatsheetURL | relURL }}">Neovim cheat sheet</a></li>
            <li><a href="{{ site.Params.githubURL }}">GitHub</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
